.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 98vh;
}

.menu {
    width: 20%;
    height: 45%;
    background-color: #25292e;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu p {
    font-size: 1.4vw;
}